.container
{
    color:#422813;
    background-color: #A8BDBB;
    overflow: auto;
    font-family:cursive;
}
body{
    background-color: #A8BDBB; 
}
* {
    box-sizing: border-box;
}
img{
    mix-blend-mode: multiply;
}