<body class="w-full items-center flex-col flex justify-center">
    <img class="h-64 mt-24 md:w-80 md:h-80" src="../../assets/31d8288a-b302-49f4-b105-0a37326aa6cb.png" alt="">
    <div class="container mt-24">
        <div class="text-xl">
          <p>
            Hello! I'm David Alan Hamilton, a Software Engineer with a strong foundation in software development and a passion for creating impactful applications. With 2 years of experience in the tech industry, I've honed my skills in a variety of programming languages and frameworks, including Java, HTML/CSS, JavaScript, Python, Angular, React, and Nest.
          </p>
      
          <p>
            As a Marine Corps Combat Veteran, I bring discipline, leadership, and a problem-solving mindset to my work. My journey in technology started with a Bachelor's and Associate's degree in Computer Science, followed by continuous learning through various certifications in front-end development and programming.
          </p>
          
          <p>
            My professional path has been diverse, from an internship focusing on authentication programs for the NIH to a role in AI-driven software development at Seven Cipher. In addition, my entrepreneurial spirit led me to work as an Online Trainer & Nutritionist, where I combined my tech expertise with health and wellness.
          </p>
          
          <p>
            I thrive in team environments, bringing both leadership and collaboration skills to the table. My experience commanding support in combat operations has translated into deep connections and effective communication in my tech career.
          </p>
          
          <p>
            Currently processing for a TS/SCI clearance, I'm eager to explore new challenges and opportunities where I can contribute to innovative projects and make a significant impact.
          </p>
      
          <p>
            <a class="hover:underline cursor-pointer" href="https://1drv.ms/w/s!Ajk_sTflne4LmKgRTwrBdxLKc3U7bA?e=RHX6IY" target="_blank">[View My Resume]</a>
          </p>
        </div>
      </div>
      

</body>