<div id="footer" class="flex flex-row  justify-center items-center mt-36 flex-wrap">
    <div class="flex flex-col items-center font-serif "><h1 class="flex text-3xl w-72 justify-center">Personal Trainer</h1><h1>Website</h1>
        <p class="flex p-12 flex-wrap w-96 mt-6 p-2 pr-10 font-bold text-base ">This application was used for my personal training business as sort of a business card.</p>
            <p class="text-s mt-4">Angular, tailwind.css, three.js, email.js, primeng</p>
            <button (click)="openExternalUrl()" class="p-6 mt-8 rounded-full w-72 border-black border-2 font-sans font-bold">femexercise.pro</button>
    </div>
    <div class="flex flex-col items-center font-serif md:ml-16 mt-16 md:-mt-1"><h1 class="flex justify-center flex-wrap text-3xl w-96 font-extrabold">Adaptive Learning App</h1>
        <h1 class="font-extrabold">AI</h1>
        <div class="h-48">
        <p class="flex justify-center flex-wrap w-80 pt-12 font-bold text-sm">Adaptive Learning App with AI integration
          </p><p class="flex justify-center">  Angular, python flask, vanilla css, openAI</p></div>
            <button class="p-6 mt-12 rounded-full w-72 font-sans font-bold">learnmath.edu</button>
    </div>
    
    

</div>