button{
    background-color: #A8BDBB;
}
button:hover{
    background-color: white;
   
}
h1{
    font-size:xx-large;
    font-weight: bolder;
    font-family: 'Caveat', cursive; 
    color:#422813;
}
p{
    color: #422813;
    font-family: 'Caveat', cursive; 
}
button{
    color:#422813;
    border:#422813;
    border:solid;
    font-family: 'Caveat', cursive; 

    
}